nav ul {
	margin: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav li {
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1em 1.5em;
	margin: 0 1.75rem;
	border-radius: 1rem;
	a {
		text-decoration: none;
		font-size: 1.5rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
	}
}
