:root {
	--primary-color: #55ff00;
	--primary-bg: #1a2b1a;
	--primary-hover-bg: #274427;
	--primary-border: #27c427;
	--primary-hover-text: #bcefbc;
	--form-border: #00ff08b8;
	--form-hover-bg: #009c06;
	--form-input-bg: #27382b;
	--placeholder-text: #aaa;
	--error-text: #ff4d4f;
	--button-bg: black;
	--button-text: white;
}